/*.gallery-container {*/
/*    min-width: 100vh;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-color: black;*/
/*}*/

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*.gallery {*/
/*    border: 1px solid #ccc;*/
/*}*/
/*.gallery img{*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/
/*.des {*/
/*    padding: 15px;*/
/*    text-align: center;*/

/*}*/

/*.img-container {*/
/*    width: 18vw;*/
/*    height: 18vw;*/
/*    background-color: #666666;*/
/*}*/
/*.image {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.title {*/
/*    font-family: "Carter One";*/
/*}*/
.container {
    margin-top: 50px;
    text-align: center;
}
/* Optional style for fetched images */
/*.images {*/
/*    display: flex;*/
/*    max-width: 80%;*/
/*    margin: 2% auto;*/
/*    flex-wrap: wrap;*/
/*    align-items: flex-start;*/
/*}*/
.single-photo {
    max-width: 300px;
    align-self: auto;
    margin: 1% 2px;
    flex-grow: 1;
    vertical-align: middle;
}

